
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.Home_Page_Bg_Color{

    background-image: url('../../Assets/STAKING_GYZMO_background.jpg');
      /* background-repeat: repeat; */
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center;
     /* padding: 500px; */
     height: auto;
     position: relative;
     padding-bottom: 5rem;

}



.inner_div_here h1{
    color: #ffffff ;
    border-bottom: 4px solid #ffffff;
    position: relative;
    /* font-weight: 200; */
    text-align: left;
    font-family: 'Staatliches', cursive;
    font-size: 90px;
}
.inner_div_here{
    /* display: flex;
    justify-content: center; */
    padding-top: 80px;
}


.card_innerhere{
    height: auto;
    background-color: #282424b8;

    border: 1px solid #ffffff;
    border-radius: 15px;

}

.card-body h3{
    text-align: left;
    font-weight: 500;
    color: #fff;
    font-family: 'Staatliches', cursive;

}

.first_col_1 h6{
    text-align: left;
    font-weight: 450;
    color: #fff;
    font-family: 'Staatliches', cursive;

}

.first_col_1{
    text-align: left !important;
}

.first_col_1 h2{
    font-weight: bolder;
    font-size:40px;
    font-family: 'Staatliches', cursive;
    color: #06f9ec;
    line-height: 20px;

}
.first_col_1 h2 small{
    font-size: 14px;
    color: #fff;
    font-family: 'Staatliches', cursive;
    font-weight: 300;

}
.first_col_1 small{
    color: #fff;
    font-family: 'Staatliches', cursive;
    line-height: 0px;


}
    
.second_card_1{
    background-color: #282424b8;
    border: 2px solid #3b3f3f;
    border-radius: 10px;
    width: 100% !important;
    height: 28vh;
 
}

/* ----------------------------- */

.inner_div_first_col{
    text-align: left;
}
.inner_div_first_col h6{
    text-align: left;
    font-weight: 500;
    color: #fff;
    font-family: 'Staatliches', cursive;

}

.inner_div_first_col h2{
    font-weight: bolder;
    font-size:40px;
    color: #06f9ec;
    font-family: 'Staatliches', cursive;
    line-height: 20px;


}
.inner_div_first_col h2 small{
    font-size: 16px;
    color: #fff;
    font-family: 'Staatliches', cursive;

}
.inner_div_first_col small{
    color: #fff;
    font-family: 'Staatliches', cursive;
    font-weight: 500;
    line-height: 0px;


}

@media (min-width:801px) and (max-width:1200px) {

    .btn_stakhere{
        padding: 6px 40px 6px 40px !important;
        border-radius: 15px;
        background-color: #06f9ec;
        color: #000;
        font-weight: 700;
        font-size: 18px;
    }
    .Home_Page_Bg_Color{
         height: auto;
         padding-bottom: 5rem !important;
        
    }
    .inner_div_first_col h6{
        text-align: left;
        font-weight: 500;
        color: #fff;
        font-family: 'Staatliches', cursive;
        font-size: 12px;
    
    }
    .current_inner h6{
      
        font-size: 14px !important;
        font-weight: 300 !important;

    
    }
    .current_inner h2{
        font-size: 20px !important;
    line-height: 20px;


    }
    .first_col_2 h2{
        font-size: 30px !important;
    line-height: 20px;



    }
    .overlay{
        display: none;
    }
    .second_card_1{
        background-color: #282424b8;
        border: 2px solid #3b3f3f;
        border-radius: 10px;
        width: 100% !important;
        height: 30vh;
    }
    .btn_small_here{
        background-color: #282424b8;
    
        padding: 5px 10px 5px 9px !important;
        border-radius: 10px;
        border: 1px solid #3b3f3f;
        font-family: 'Staatliches', cursive;
    
        color: #fff;
    }
        




    
}

.btn_stakhere{
    padding: 6px 50px 6px 60px;
    border-radius: 15px;
    background-color: #06f9ec;
    color: #000;
    font-weight: 700;
    font-size: 18px;
}

.btn_stakhere:hover{
    background-color: #06f9ec;

}

.btn_small_here{
    background-color: #282424b8;

    padding: 5px 12px 5px 12px;
    border-radius: 10px;
    border: 1px solid #3b3f3f;
    font-family: 'Staatliches', cursive;

    color: #fff;
}
.btn_small_here:hover{
    background-color: #06f9ec;
   
  

    

}
.inner_btn_all_here{
    display: flex;
    justify-content: center;
}
.one2one_btn{
    padding-bottom: 10px;
}
.one2one_btn:hover .hover_span{
   
display: block;
/* border-top: 1px solid #06f9ec; */

}
.linediv:hover{
    border-bottom: 2px solid #06f9ec;

    
}

.hover_span{
    color: #06f9ec;
    display: none;
    width: 150%;
    margin-top: 0.2rem;
    font-family: 'Staatliches', cursive;
    font-size: 16px;
    margin-left: -0.7rem;    
}





/* ---------------------------------------------Current-Staking----------------------------------- */

.card-body h5{
    text-align: left;
    font-weight: 500;
    color: #fff;
    font-family: 'Staatliches', cursive;
    font-size: 35px;

}
.current_stking{
    color: #06f9ec;

}


.current_card_here{
    background-color: #282424b8;

    border: 2px solid #3b3f3f;
    border-radius: 10px;
    width: 100% !important;
    padding: 0px 0px 0px 0px !important;
    margin-top: 1rem;
}

.current_inner h6{
    text-align: left;
    font-weight: 500;
    color: #fff;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    line-height: 10px;


}


.current_inner h2{
    font-weight: bolder;
    font-size:25px;
    color: #06f9ec;
    font-family: 'Staatliches', cursive;
    text-align: left;
    font-weight: 400;
    line-height: 20px;


}
.current_inner h2 small{
    font-size: 15px;
    color: #fff;
    font-family: 'Staatliches', cursive;
    text-align: left;


}

.current_body{
    display: flex;
    justify-content: space-between;
}

.btn_ce_stake{
    border-radius: 10px;
    background-color: #282424b8;

    padding: 3px 20px 3px 20px;
    border-radius: 10px;
    border: 1px solid #3b3f3f;
    font-family: 'Staatliches', cursive;
    color: #fff;
}
.btn_ce_stake:hover{
    color: #fff;
    
}
/* ---------------------------------------Second Col here------------------------------ */

.card_innerhere22{
    height: auto;
    background-color: #282424b8;

    border: 1px solid #ffffff;
    border-radius: 15px;padding: 15px;

}



.first_col_2 h6{
    text-align: left;
    font-weight: 500;
    color: #fff;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    line-height: 20px;

}


.first_col_2 h2{
    font-weight: bolder;
    font-size:50px;
    color: #06f9ec;
    font-family: 'Staatliches', cursive;
    text-align: left;
    font-weight: 600;
    line-height: 40px;





}
.first_col_2{
    text-align: left;
}
.first_col_2 small{
    color: #fff;
    font-family: 'Staatliches', cursive;
    font-weight: 500;
    font-size: 25px;
    line-height: 10px;

    
   


}
.first_col_2 h2 small{
    font-size: 20px;
    color: #fff;
    font-family: 'Staatliches', cursive;
    text-align: left;


}

/* ----------------------------------------------------------end------------ */

.price_icon{
    background-color: #cdf3f1;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    color: rgb(62, 207, 62) !important;
    font-size: 20px;

    

}
.icon_rise{
    font-size: 25px;
}



@media screen and (max-width:480px) {
    .second_card_1{
        margin-top: 1rem !important;
    }
    .col222{
        margin-top: 1rem;
    }

    .inner_div_here h1{
        font-size: 40px !important;
    }
    .second_card_1{
        background-color: #282424b8;
        border: 2px solid #3b3f3f;
        border-radius: 10px;
        width: 100% !important;
        height: 50vh !important;
    }
}


@media screen and (max-width:800px) {
    
    .Home_Page_Bg_Color{
         height: auto !important;
        
    
    }
    .second_card_1{
        background-color: #282424b8;
        border: 2px solid #3b3f3f;
        border-radius: 10px;
        width: 100% !important;
        height: 35vh;
    }

    .second_card_1{
        margin-top: 0rem;
    }
    .secon_div_button{
        margin-top: 1rem;
    }
    .btn_stakhere{
        width: 100%;
    }
    .btn_small_here{
        background-color: #282424b8;

        padding: 5px 12px 5px 12px;
        border-radius: 10px;
        border: 1px solid #3b3f3f;
        color: #fff;
      
    }
    .card-body h5{
       margin-top: 1rem;
    }
.current_body{
    margin-top: 1rem;
}
.current_inner h6{
    text-align: left;
    font-weight: 200;
    color: #fff;
    font-family: 'Staatliches', cursive;
    font-size: 15px;

}


.current_inner h2{
    font-weight: bolder;
    font-size:25px;
    color: #06f9ec;
    font-family: 'Staatliches', cursive;
    text-align: left;
    font-weight: 400;


}
.current_inner h2 small{
    font-size: 15px;
    color: #fff;
    font-family: 'Staatliches', cursive;
    text-align: left;


}

.secondcolo_row{
    margin-top: 1rem;
}


.Home_Page_Bg_Color{

 
     height: auto;
     padding-bottom: 5rem !important;
   

}

.overlay{
    display: none;
}

    
    
}